.grid -container {

	display: grid;
	grid-template-columns: 200px 250px;


}




body {
  background-color: lightblue;
}



#nat {

font-family: times new roman; 	
font-weight: 500;
font-size: 70px;
margin-left: 425px;
text-align: left;


}

#nat1 {

font-size: 30px;
text-align: center;
margin-bottom: 1000px;



}