 body { 

	background-color:grey;

}


.photo-grid {


	display: grid;
	gap: .2rem;
	grid-auto-template: repeat(200px 2fr, minmax(300px, auto));  
	grid-auto-rows: repeat( 200px 2fr, minmax(215px, auto));
	
	


}


@media screen and (min-width: 100px) { 

.card-tall {

	grid-row: span 2 / auto;

}
	

	
#samplehere {
	
	background-color: green;
	border: 1px solid black;
	height: 120px;
	width: 120px;
	
	}

.card-wide {
	grid-column: span 2 / auto;
}

	
	

.card {

	background-color: beige;

}

