 body { 

	background-color:lightBlue;

}


.photo-grid {


	display: grid;
	gap: .4rem;
	grid-template-columns: repeat(3, 300px);  
	grid-auto-rows: 100px;
	
}


@media screen and (min-width: 100px) { 

	
}

.grid-item-1 {
	
	border: 1px solid black;
	
	width: 300px;
	font-size: 26px;
	
	}
	
	
.grid-item-2 {
	
	border: 1px solid black;
	
	width: 300px;
	}
	
	
	
.grid-item-3 {
	
	border: 1px solid black;
	
	width: 300px;
	}
	
	
