 body { 

	background-color:grey;
	
}


.photo-grid {


	display: grid;
	gap: 1rem;

	

	grid-template-columns:  600px 240px;  
	grid-template-rows: 75px;


}


@media screen and (min-width: 200px) { 

.card-tall {

	grid-row: span 2 / auto;

}

.card-wide {
	grid-column: span 2 / auto;
}

	
	

.card {

	background-color: beige;

}

.card-six {
	background-color: blue;
}
